<div style="display: flex; width: 100%; height: 100%;">
    <div class="thumbnailSelector" *ngIf="dicomsList.length >= 1" style="margin-right: 5px;">
        <div class="thumbnails list-group" style="height: 100%;">
            <a *ngFor="let dicom of dicomsList; let i=index"  class="list-group-item"
                oncontextmenu="return false" unselectable="on" onselectstart="return false;" onmousedown="return false;"
                (click)="loadDicomById(dicom, $event)">
                <img src="./assets/thumbnails/{{dicom._id}}.jpg">
                <div id="mrtopright" style="position: absolute; top:3px; right:3px">
                    <div id="imageCount" style="color:yellow; font-size: 7pt">{{i + 1}}</div>
                </div>
            </a>
        </div>
    </div>

    <!--container where image will be loaded-->
    <div style="overflow: hidden; width: 100%; height: 100%; background-color: #424242;">

        <!-- Toolbar -->
        <div id="toolbar">
            <div class="btn-group">
                <div class="btn-group" *ngIf="enableViewerTools">

                    <!-- WW/WL -->
                    <button type="button" (click)="enableWindowing()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Windowing"><span class="fa fa-sun"></span></button>
                    <!-- Invert -->
                    <button type="button" (click)="invertImage()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Invert"><span class="fa fa-adjust"></span></button>
                    <!-- Zoom -->
                    <button type="button" (click)="enableZoom()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Zoom"><span class="fa fa-search"></span></button>
                    <!-- Pan -->
                    <button type="button" (click)="enablePan()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Pan"><span class="fa fa-arrows-alt"></span></button>
                    <!-- Stack scroll -->
                    <button type="button" (click)="enableScroll()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Scroll"><span class="fa fa-bars"></span></button>
                    <!-- Length measurement -->
                    <button type="button" (click)="enableLength()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Length"><span class="fa fa-arrows-alt-v"></span></button>
                    <!-- Angle measurement -->
                    <button type="button" (click)="enableAngle()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Angle"><span class="fa fa-angle-left"></span></button>
                    <!-- Pixel probe -->
                    <button type="button" (click)="enableProbe()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Pixel Probe"><span class="fa fa-dot-circle"></span></button>
                    <!-- Elliptical ROI -->
                    <button type="button" (click)="enableElliptical()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Elliptical ROI"><span class="fa fa-circle"></span></button>
                    <!-- Rectangle ROI -->
                    <button type="button" (click)="enableRectangle()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Rectangle ROI"><span class="fa fa-square"></span></button>
                </div>
                <div class="btn-group">
                    <!-- Play clip -->
                    <button type="button" (click)="playClip()" style="border-left: 1px dotted white;" class="btn btn-sm btn-default"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Play Clip"><span
                            class="fa fa-play"></span></button>
                    <!-- Stop clip -->
                    <button type="button" (click)="stopClip()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Stop Clip"><span class="fa fa-stop"></span></button>

                    <!-- Download -->
                    <a *ngIf="downloadImagesURL != ''" [href]="downloadImagesURL" download style="border-left: 1px dotted white;"
                        class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom"
                        title="Download Imagens">
                        <span class="fa fa-download"></span>
                    </a>

                    <!-- Progress Spinner -->
                    <div style="padding-left: 15px; padding-top: 15px;" [ngStyle]="showProgress">
                        <mat-spinner style="display: inline-block;" diameter="30" strokeWidth="5" color="warn"></mat-spinner>
                    </div>

                </div>
                <div class="btn-group" style="border-left: 1px dotted white;">
                    <!-- Brush for segmentation -->
                    <button type="button" (click)="enableBrush()" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Brush"><span class="fas fa-paint-brush"></span></button>
                    <!-- Save segmentation -->
                    <button type="button" (click)="saveSegmentedImg($event)" class="btn btn-sm btn-default" data-container='body'
                        data-toggle="tooltip" data-placement="bottom" title="Save"><span class="fas fa-save"></span></button>
                    <button type="button" class="btn btn-sm btn-default" data-container='body' *ngIf='currentDicom.has_mask === "true"'
                        data-toggle="tooltip" data-placement="bottom" title="Apply mask"><span class="fas fa-plus-circle"></span></button>
                </div>
            </div>
            <div class="btn-group">
                <!-- Reset Image -->
                <button type="button" (click)="resetImage()" class="btn btn-sm btn-default" data-container='body'
                data-toggle="tooltip" data-placement="bottom" title="Reset Image"><span class="fa fa-window-restore"></span></button>
            </div>
        </div>
        <div style="width: 100%; height: calc(100% - 60px);position:relative;display:inline-block;color:white;"
            oncontextmenu="return false" class='cornerstone-enabled-image' unselectable='on' onselectstart='return false;'
            onmousedown='return false;'>
            <div cornerstone style="width: 100%; height: 100%;top:0px;left:0px;position:absolute;outline:none;margin: 0 auto;"
                id="dicomImage">
            </div>
            <canvas id="segmentation-canvas"></canvas>
            <div id="brush-diameter"></div>
            <div id="mrbottomleft" style="position: absolute;bottom:3px; left:3px">
                <div>
                    Number of frames: {{viewPort.numOfFrames}}
                </div>
                <div>
                    WW/WC: {{viewPort.windowingValue}}
                </div>
            </div>
            <div id="mrbottomright" style="position: absolute;bottom:6px; right:3px">
                <div id="zoomText">Zoom: {{viewPort.zoomValue}}</div>
                <div id="sliceText">Image: {{(imageCount > 0)?viewPort.currentIndex+1:0}}/{{imageCount}}</div>
            </div>
        </div>

    </div>

    <div id="propertiesArea" *ngIf="dicomsList.length >= 1 && currentDicom._id">
        
        <div class="form-group">
            <label>Relevant: </label>
            <div class="radios-group">
                <div class="radio">
                    <input type="radio" name="relevantGroup" id="relevantYes" value="yes" [(ngModel)]="currentDicomMetadata.relevant">
                    <label for="relevantYes">Yes</label>
                </div>
                <div class="radio">
                    <input type="radio" name="relevantGroup" id="relevantNo" value="no" [(ngModel)]="currentDicomMetadata.relevant">
                    <label for="relevantNo">No</label>
                </div>
            </div>
        </div>
    </div> 

</div>

